[Unit]
Description=A service unit to manage network namespaces.
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/bin/bash /usr/sbin/manage_netns.sh --debug start

[Install]
WantedBy=multi-user.target
